{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet"
   integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
   crossorigin="anonymous">

  <title>Main Page</title>
</head>
 <body>



  
 
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Haber Sorgulama Uygulaması</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">
            Sahte Haber Tespit Uygulaması Nedir?</h1>
          <p class="col-md-8 fs-4">Gerçekliği doğrulanmamış veya yanıltıcı haberleri tespit etmek için kullanılan bir uygulamadır. Bu uygulama haber metinlerini analiz eder ve gerçekliği doğrulanmamış veya yanıltıcı olanları tespit eder. Sahte haber tespit uygulamaları, haber kaynaklarının doğruluğunu ve güvenilirliğini kontrol etmekte ve okuyucuları yanıltıcı veya yanıltıcı haberlerden koruyabilmektedir.</p>
          <button class="btn btn-primary btn-lg" type="button">
            <a class="nav-link" href="{% url 'question'%}">Haber Sorgula</a>
          </button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Sorgulanmış Haberleri Listele</h2>
            <p>Bu bölümde daha önce doğruluğunu teyit ettiğin haberlerin listesine ulaşabilirsin. 
             <h3 style= "color:red"> Not: !Bu uygulama sayesinde yalnızca önceden eğitilmiş yapay zeka modelleri kullanılarak tahminler elde edilmektedir buradaki işlemin bir tahmin/varsayım olduğunu unutmayınız. </h3>
            </p>
            <button class="btn btn-outline-light" type="button">
                <a class="nav-link" href="{% url 'listing'%}">Sorgulanmış Haberleri Listele</a>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Hakkımızda</h2>
            <p>Proje grubu olarak, günümüzde sahte haberlerin yaygınlaşması nedeniyle önemli bir problem olarak karşımıza 
              çıkan bu sorunun çözümü için çalışmalar yürüttük. Bu amaçla, Sahte Haber Tespit Sistemi adlı projemizi hayata 
              geçirdik. Bu proje, sahte haberlerin tespitini yapabilmektedir. Projenin yürütülmesi sürecinde,
              yapay zeka ve makine öğrenmesini kullanarak en doğru sonuçları elde etmeye çalıştık. 
              Böylece, sahte haberleri tespit etmek ve kullanıcılara ulaştırmak için çalışıyoruz.
              Projemiz ile ilgili daha fazla bilgi için lütfen bizimle iletişime geçiniz.</p>
            <button class="btn btn-outline-secondary" type="button">
                <a href="{% url 'Hakkimizda'%}" class="nav-link">Hakkımızda</a>
            </button>
          </div>
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-muted border-top">
        © 2023
      </footer>
    </div>
  </main>
  
  
 </body>
</html>

