
<div class="row g-3">
    <div class="col-md-4">
        <label for="news_Title" class="form-label">Haberin Başlığı</label>
        <input type="text" class="form-control" name="news_Title" required>
    </div>
    <div class="col-md-4">
        <label for="news_Author" class="form-label">Haberin Yazarı</label>
        <input type="text" class="form-control" name="news_Author" required>
    </div>
    <div class="col-md-4">
        <label for="news_Subject" class="form-label">Haberin Konusu</label>
        <input type="text" class="form-control" name="news_Subject"  required>
    </div>

    <div class="mb-3">
        <label for="news_Text" class="form-label">Haber Metni</label>
        <textarea class="form-control" name="news_Text"  placeholder="Lütfen Haber metnini giriniz" required  style="height: 500px;"></textarea>
        <div class="invalid-feedback"> Please enter a message in the textarea.  </div>

        <!-- Haber metni, bilgileri input alınıyor  -->
    </div>


    <div style="text-align:center" class="col-12">
        <button class="btn btn-primary" type="submit">Sorgula</button>
        </div>

</div>








