<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sahte Haber Tespit Uygulaması</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'question'%}">Haber Sorgula</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listing'%}">Sorgulanmış Haberleri Listele</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Hakkimizda'%}">Hakkımızda</a>
      </li>
    </ul>
  </header>
</div>


<!-- Navbar bitiş -->
